@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

.header {
    width: 100%;
    background-color:var(--card);
    padding: 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    font-size: 26px;
    color: var(--text);
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.header-button {
    padding: 10px 16px;
    background-color: var(--primary);
    color:var(--bg);
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
