.stats {
    background-color: var(--bgcalculate);
    padding: 25px;
    margin: 30px 0;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.stats button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    background-color: #1976d2;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.stats button:hover {
    background-color: #125aa0;
}
