:root {
  --bg: #e5f4ed;
  --text: #111111;
  --card: #d6f0e7;
  --primary: #13254e;
  --bgcalculate: #cdd3d4;
  --borde: #090122;

}

:root.dark {
  --bg: #0b1220;
  --text: #e5e7eb;
  --card: #111e3a;
  --primary: #33d5cd;
  --bgcalculate: #122442;
  --borde: #fff;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--bg);
  color: var(--text);
  transition: background 0.2s ease, color 0.2s ease;
  margin: 0;
  font-family: Arial, sans-serif;
}

#root {
  width: 100%;
}

.features {
  margin-top: 40px;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

h2 {
  text-align: center;
}